! fix copy/paste
URxvt.perl-ext-common: default,clipboard,vtewheel
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! fix style
Xcursor.size: 12
URxvt.font: xft:Source Code Pro for Powerline:medium:size=11
! URxvt.font: xft:Meslo LG S for Powerline:medium:size=110

URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! srsly in what age do we live
URxvt*saveLines:1222333
URxvt*termName: rxvt-256color

! fix urls
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

